<!-- home.page.html -->
<ion-header>
 <!-- <ion-toolbar>
    <ion-title>EnergoFish</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="login()">
        Bejelentkezés
      </ion-button>
    </ion-buttons>  
  </ion-toolbar> -->
  <ion-toolbar>
    <ion-searchbar
      placeholder="Keresés..."
      [(ngModel)]="searchText"
      (ionInput)="onSearch()">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content>

  <app-profile></app-profile>

  @if (searchText){
      <p>Keresés: {{ searchText }}</p>
  }
  <!--<app-upload></app-upload>-->


  <!-- Terméklista -->
  <app-product-list></app-product-list>
</ion-content>
